# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request_target:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  data:  ${{ github.event.pull_request.body }}
  actor: ${{ github.actor }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Echo Actor without conditional
        run: echo $actor

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo $data
      - name: conditional echo
        if: >
          github.actor == 'wechuli'
          && contains(github.event.pull_request.body, 'stuff')
        run: echo $actor  - Hooray, I run
          
        
